*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.login-container {
    background-color: white;
    max-width: 400px;
    height: 80vh;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a{
    color: orangered;
}
body{
    padding: 1rem;
    background-image: linear-gradient(to right, orangered, orange, orangered);
}
h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
    background-color: transparent;
}
input, select, textarea {
    max-width: 325px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 1.1rem;
}
.mapa{
    max-width: 325px;
    height: 50vh;
    padding: 10px;
    margin-bottom: 1rem;
}
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #FFF;
    font-size: 1.1rem;
    cursor: pointer;
    max-width: 325px;

}
.logo{
    width: 100px;
    display: block;
    margin: 0 auto 1rem auto;
    max-width: 150px;
}
.menu{
    text-align: center;
    background-color: white;
    display: flex;
    margin: 0;
    padding: 1rem;
    justify-content: space-around;
    margin-bottom: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
