*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body{
    padding: 1rem;
}
h1{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}
input, select, textarea {
    max-width: 350px;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    font-size: 1.1rem;
}
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #FFF;
    font-size: 1.1rem;
    cursor: pointer;
        max-width: 350px;

}
